
body, pre {
    background-color: #252525;
    color: #ccc;
}
input, textarea, .select select {
    background-color: #555;
    color: #eee;
}
a, a:visited {
    color:#25d5d8;
}
a:hover {
    color: #e37933;
}
[type=checkbox]:checked+.checkable:after {
    color: #0074d9;
}
